body{
    font-family: Georgia, 'Times New Roman', Times, serif, helvetica;
    background: #0c1022;
}

.Menu{
    list-style: none;
    padding: 0;
    background: #00ccff;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.Menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.Menu li{
    display: inline-block;
    text-align: center;
}
.Menu li a:hover{
    background: #ee00ff;
}
.buscador{
    margin-top: 40px;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: start;
}
.input_text{
    width: 50%;
    height: 25px;
    background: #0c1022;
    border-radius: 5px 15px;
    outline: none;
    border-bottom: 1px solid #00ccff;
    font-size: 15px;
    padding-left: 20px;
    color: #fffb00;
}
::placeholder{
    font-size: 15px;
    color: #00ccff52;
    letter-spacing: 1px;
}